
<form action="/random/results">
  <div>
    <label for="friedrich">Minimum</label>
  
    <input id="friedrich" type="text" name="users_min" placeholder="E.g. 1.5">
  <div>
    <label for="georg">Maximum</label>
  
    <input id="georg" type="text" name="users_max" placeholder="E.g. 4.5">
  </div>
  <button>Pick random number</button>
</form>
