
<form action="/payment/results">
  <div>
    <label for="charlie">APR</label>
    <input id="charlie" type="text" name="users_APR" placeholder="E.g. 5.42">
  </div>
  <div>
    <label for="david">Number of years</label>
    <input id="david" type="text" name="users_num_of_years" placeholder="How many years to repay?">
  </div>
  <div>
    <label for="emil">Principal</label>
    <input id="emil" type="text" name="users_principal" placeholder="How much principal?">
  </div>
  <button>Calculate monthly payment</button>
</form>
